.GithubUser{
  display: flex;
  column-gap: 2rem;
  padding: 4rem 3rem;
}
.GithubUser .GithubUserLeft{
  width: 25%;
  position: fixed;
}

.username,
.UserGitname,
.userBlog,
.UserLinkGit,
.UserCompany,
.UserLocation,
.UserRepos,
.UserFollowers,
.UserFollowing,
.Userpic{
  margin-bottom: 8px;
}

.Userpic{
  width: 100%;
  border-radius: 10px;
  height: 40vh;
  object-fit: cover;
}
.username{
  font-size: 30px;
  font-weight: 700;
  color:  #070f2b;
}
.UserGitname{
  font-size: 20px;
  line-height: 1.5rem;
}
.userBlog{
  font-size: 15px;
}
a{
  text-decoration: none;
}
.UserLinkGit{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  column-gap: 0.8rem;
  border-radius: 10px;
  border: none;
  background-color: #070f2b;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.GithubUser .GithubUserRight{
  width: 70%;
  margin-left: 400px;
}
.GithubUser .GithubUserRight .GithubUserRightRepos{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.GithubUser .GithubUserRight .GithubUserRightRepos .headerRepo{
  font-size: 35px;
  width: 100%;
}
.RepositoriesWrapper{
  display: flex;
  width: 45%;
}
.Repositories{
  width: 100%;
}
.Repositories button{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: none;
  padding-top: 1rem;
  background-color: #f1f1e6;
  cursor: pointer;
}

.Repositories button h2,
.Repositories button .repoDescription{
  text-align: left;
  margin-bottom: 20px;
}
.Repositories button .repoDescription{
  font-size: 18px;
}

.Repositories button .forksStars{
  background-color: #fef7d7;
  width: 100%;
  display: flex;
  padding: 10px;
  column-gap: 2rem;
  align-items: center;
}
.Repositories button .forksStars p{
  font-size: 15px;
}

.GithubUserRightFollowing,
.GithubUserRightFollowers{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 10px;
}
.GithubUserRightFollowing .HeaderFollowing,
.GithubUserRightFollowers .HeaderFollowers{
  width: 100%;
}
.UserFollowingcard,
.UserFollowerscard{
  width: 30%;
  background-color:#fef7d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding: 10px;
}

.UserFollowingcard img,
.UserFollowingcard h2,
.UserFollowingcard a,
.UserFollowerscard img,
.UserFollowerscard h2,
.UserFollowerscard a{
  margin-bottom: 10px;
}

.UserFollowingcard img,
.UserFollowerscard img{
  width: 30%;
}

.UserFollowingcard button,
.UserFollowerscard button{
  background-color: #070f2b;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width:58.75em){
  .GithubUser{
   flex-direction: column;
   align-items: center;
  }
  .GithubUser .GithubUserLeft{
    width: 80%;
    position:relative;
  }
  .Userpic{
    width: 100%;
    border-radius: 10px;
    height:auto;
    object-fit: cover;
  }
  .GithubUser .GithubUserRight{
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width:58.75em){
  .RepositoriesWrapper{
    width: 100%;
  }
  .UserFollowingcard,
  .UserFollowerscard{
  width: 40%;
  }
}